// Variables
$headingFont : 'Poppins', sans-serif;
$mainColor : #02182B;
$textBlue : #64A5E5;
$lightBlue :#399AF8;
$orange :#FF6900;

@import "./sass/main";
@import "./sass/header";
@import "./sass/footer";
@import "./sass/home";
@import "./sass/services";
@import "./sass/portfolio";
@import "./sass/about";
@import "./sass/contact";
