header {
  display: flex;
  position: relative;
  height: 70px;
 .logo {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
   a {
    text-decoration: none;
    color: white;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: $headingFont;
    }
   }
 }
 .logo-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  a {
   text-decoration: none;
   color: white;
   h2 {
     font-size: 1.5rem;
     font-weight: 700;
     font-family: $headingFont;
     color: $heading;
   }
  }
 }
 .burger-con {
   display: none;
   align-items: center;
   justify-content: center;
   margin: auto 0;
   margin-left: auto;
   width: 40px;
   height: 40px;
   z-index: 10;
 .burger-menu {
   cursor: pointer;
 }
}
 nav {
   margin-left: auto;
   align-self: center;
   display: flex;
   align-items: center;
   justify-content: center;
   .darkLinks 
   {
    a:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $background ;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after { 
      width: 100%; 
      left: 0; 
    }
   }
   ul {
     display: flex;
     margin-left: auto;
     li {
       list-style-type: none;
       margin-left: 20px; 
      a {
        color: $heading;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 400;
        padding-bottom: 5px;
        transition: 0.1s;
        position: relative;
      }
      a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: white ;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after { 
        width: 100%; 
        left: 0; 
      }
      .active-link {
        color: white;
      }
      .active-link:hover:after {
        width: 0; 
      }
      .active-link-dark {
        color: $background;
      }
      }
      #contact-button {
        background-color: $heading;
        // border: 2px $heading solid;
        padding: 7px 35px;
        border-radius: 10px;
        color: white;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        transition: 0.5s;
        .link-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 0%; 
          height: 100%;
          border-radius: 8px;
          background-color: $text ;
           z-index: -1;
          transition: 0.5s;
        }
        span {
          z-index: 5;
        }
      }
      #contact-button:hover .link-background {
        width: 100%;
        color: white
        
      }
      #contact-button:hover {
      background: none;
        
      }
      #contact-button:hover span {
      z-index: 5;
      }
      #contact-button:hover:after {
        box-shadow: 0 0 10px rgba(0,0,0,0.18);
        width: 0; 
      }
   }
 }
}

@media (max-width: 768px ) {
header {
   // Burger Menu
   .burger-con {
    display: flex;
    z-index: 10;
  }
   
 nav {
   overflow: hidden;
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $heading;
  padding: 25px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.18);
  text-align: center;
  height: 0;
  padding: 0;
  z-index: 5;
  transition: height 0.5s;
  .close-cross { 
    position: absolute;
    top: 30px;
    right: 10%;
    cursor: pointer;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-left:0;
    li {
    list-style-type: none;
    padding: 5px 0;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 500;
    }
    #contact-button {
      background: none;
      padding: 0;
      border-radius: 5px;
      color: white;
      font-weight: 400;
      text-decoration: none;
      color: white;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 500;
    }
    #contact-button:hover {
      box-shadow: none;
    }
    .active-link {
      color: $background;
    }
   }
  }
 }
}
}

