// Variables
$headingFont : 'Poppins', sans-serif;
$mainColor :#33485A;
$lightBlue :#399AF8;
$orange :#FF6900;

@import "./sass/main";
@import "./sass/header";
@import "./sass/footer";@import "./sass/home";
@import "./sass/services";